.chatline
    display: flex
    .message
        padding: 1rem 2rem
        border-radius: 1.25rem
        background: $bg3
        width: 80%
        margin-bottom: 1rem
        p
            margin: 0
            color: black
            font-weight: 700
            text-align: left
        &:hover
            width: 100%
            transition-duration: .2s